<!Doctype html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">

      <link rel = "stylesheet" href = "../css/style.css">
      <link rel = "stylesheet" href = "../css/reset.css">

       <link rel="shortcut icon" href="../img/gg.png" type="image/x-icon">

      <title>TODO</title>
    </head>
    <body>
      <div id="root">
        <header class="head">
          <div class="img">
            <img src="../img/label.png">
          </div>
        </header>
        <main>
          <div class="active">
            <todo v-for="todo in todos" v-bind:key="todo.id" v-bind:idk="todo.id" >
              <task></task>
            </todo>
            <div class="add">
              <div class="add-button" v-on:click="addTodo">
                <div class="plus"></div>
              </div>
            </div>  
          </div>
        </main>
      </div> 
    </body>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.0/dist/vue.js"></script>

    <script>
      Vue.component('todo', {
        props: ['idk'],
        data() {
          return {
            id: 0,
            todoName: "",
            tasks: [{id: 0}]
          }
        },
        methods: {
          addLittleTodo() {
            this.id = this.id + 1;
            this.tasks.push({id: this.id});
          },
          deleteTask(task) {
            this.tasks.splice(this.tasks.indexOf(task), 1);
          }     
        },
        template: `
        <div class="do">
          <div class="title">
            <div class="delete-wrap" v-on:click="$root.deleteTodo(this.idk)">
              <img class="delete" src="../img/delete.png">
            </div>
            <div class="get_name">
              <input type="text" placeholder="Add name!" class="get_name" maxlength="20" v-model="todoName"> 
            </div>                                                 
          </div>
          <div class="table">
            <ul class="task-list">
              <task v-for="task in tasks" v-bind:key="task.id" ref="task" @emitChildComponent="deleteTask(task)"></task>
              <input @click="addLittleTodo" type="button" class="submit-task" title="Add task"> 
            </ul>             
          </div>
        </div> 
        `
      });

      Vue.component("task", {
        props: ['idk'],
        data() {
          return {
            taskName: ""
          }
        },
        methods: {
          deleteTask() {
            this.$emit('emitChildComponent');
          }
        },
        template: `
        <li class="task-list-item">
          <label class="task-label">
            <input type="checkbox" class="custom-checkbox">
            <input type="text" placeholder="Write the task" class="task-text" maxlength="20" v-model="taskName"> 
          </label>
          <span class="delete-task" @click="deleteTask">
            <img class="delete-task" src="../img/remove.png">
          </span>
        </li>
          `
      })

      var app = new Vue({
        el: '#root',
        data: {
          id: 0,
          todos: [{id: 0, todo: "name"}]
        },
        methods: {
          deleteTodo(id) {
            this.todos.splice(id, 1);
          },

          addTodo() {
            this.id = this.id + 1
            this.todos.push({id: this.id, todo: "name"})
          }
        }
      })
    </script>
  </html>
