body{
	margin: 0 70px 0 70px;
	background: url(../img/back.jpg) no-repeat;
	background-attachment: fixed;
	background-size: 100%;
}

header{
 	width: 100%;
    height: 200px;
}

.img{
    height: 60%;
    width: 340px;
    padding-top: 40px;
}

header img{
	height: 100%;
	width: 100%;
 }


div.do{
	width: 308px;
	height: 460px;
	margin-right: 50px;
	border-radius: 30px;
	border: 4px solid #000000;
	background-color: white;
	box-shadow: inset -9px 10px 0 10px rgba(0, 0, 0, 0.1); 
}

div.title{
	width: 100%;
	height: 80px;
    background-color: #ffd772;
	border-radius: 25px 25px 0 0;
	display: flex;
	margin-bottom: 10px;
}


img.delete{
	width: 45px;
	height: 45px;
	cursor: pointer;
}

div.delete-wrap{
	width: 0px;
	height: 0px;
	position: relative;
	top: -10px;
	left: -10px;
}

div.table {
	width: 100%;
	height: 350px;
	overflow-y: scroll;
}

.table::-webkit-scrollbar {
	width: 10px;
	background-color: #f9f9fd;
  }
  
.table::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	height: 10px;
  }
  
.table::-webkit-scrollbar-track {
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); */
	background-color: rgba(0, 0, 0, 0.1);;
	/* border-radius: 0 0  0; */
	height: 100px;
  }


div.add {
	width: 308px;
	height: 460px;
}

img.add {
	position: relative;
	width: 100%;
	height: 100%;
}

div.active {
	display: flex;
}

div.get_name {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

input.get_name {
	height: 50%;
	width: 200px;
	box-shadow: none;
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 15pt;
    background-color: rgb(255, 255, 204, 0.6);
    border-radius: 10px 10px 10px 10px;
}

.get_name::placeholder {
	font-size: 15pt;
	color: black;
}

.task-list {
	width: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.submit-task {
	width: 50px;
	height: 50px;
	flex-shrink: 0;
	border: none;
	background: var(--add-button);
	background-image: url(../img/plus.png);
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 50%;
	cursor: pointer;
	margin-bottom: 5px;
}

.task-text{
	box-shadow: none;
    background-color: transparent;
    border: none;
}

.task-text::placeholder {
	color: black;
}

.task-list-item{
	background-color: rgb(0, 0, 0, 0.2);
	display: flex;
	align-items: center;
	padding: 8px;
	border-radius: 10px;
	margin-bottom: 12px;
}
